[Unit]
Description=backup my_files to NAS

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/bin/rsync -a --delete /mnt/data/my_files/ nas:/share/my_files/

[Install]
WantedBy=backup.target
