[Unit]
Description=backup music to NAS

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/bin/rsync -a --delete /mnt/data/music/ nas:/share/Multimedia/music/

[Install]
WantedBy=backup.target
