#############################################################
# PIA VPN Firewall Rules
#
# related sources:
# https://wiki.archlinux.org/index.php/Private_Internet_Access#Internet_.22kill_switch.22
# https://www.reddit.com/r/VPN/comments/43djk3/generic_kill_switch_script_for_openvpn_linux/
# https://bbs.archlinux.org/viewtopic.php?id=224655
# https://github.com/adrelanos/vpn-firewall
#############################################################
# this line indicates the start of the filter table
*filter

# set a default DROP policy for each chain
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:10]

# allow basic INPUT traffic
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT           -m comment --comment "allow input on loopback"
-A INPUT -s 10.10.1.0/24 -j ACCEPT -m comment --comment "allow input on internal network"

# allow basic OUTPUT traffic
-A OUTPUT -o lo -j ACCEPT           -m comment --comment "allow output on loopback"
-A OUTPUT -d 10.10.1.0/24 -j ACCEPT -m comment --comment "allow output on internal network"

# allow traffic to the PIA OpenVPN server and via the tunnel
-A INPUT -i tun+  -j ACCEPT -m comment --comment "allow input  on the tunnel interface"
-A OUTPUT -o tun+ -j ACCEPT -m comment --comment "allow output on the tunnel interface"
-A OUTPUT -d 209.222.18.222/32 -j ACCEPT -m comment --comment "PIA VPN DNS1"
-A OUTPUT -d 209.222.18.218/32 -j ACCEPT -m comment --comment "PIA VPN DNS2"
-A OUTPUT -p udp -m udp --dport 1198 -j ACCEPT -m comment --comment "PIA uses UDP on port 1198"

# reject everything else
-A OUTPUT -j REJECT --reject-with icmp-net-unreachable

COMMIT
