# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ] || ls --color > /dev/null 2>&1; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# editor aliases
alias e='emacsclient -nw'
alias kill_emacs='emacsclient -e "(kill-emacs)"' # kills the emacs server

# apt-get aliases
if command -v apt &> /dev/null; then
    alias updateallthethings='sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get dist-upgrade -y'
    alias update_all_the_things='updateallthethings'
    alias cleanupallthethings='echo "Cleaning Up" &&
      sudo apt-get -f install &&
      sudo apt-get autoremove &&
      sudo apt-get -y autoclean &&
      sudo apt-get -y clean'
    alias cleanup_all_the_things='cleanupallthethings'
fi

# git aliases
alias d='git diff -w'

# misc...
# copy my backgrounds from dropbox for wallch
alias backgrounds='sudo cp -r ~/Dropbox/images/backgrounds/ /usr/share/ && sudo chmod -R +r /usr/share/backgrounds/'
if [ ! -x /usr/bin/open ]; then
   alias open='xdg-open'
fi
alias keygen='ssh-keygen -t rsa -b 16384'
alias stocks='go run $HOME/go/src/github.com/mop-tracker/mop/cmd/mop/main.go'

# parse input into pretty strings
alias json='python -mjson.tool' # echo '{"hello": { "world": "test1", "there": "test2" }}' | json
alias xml='xmllint --format -' # echo '<body><value name="abc"></value></body>' | xml

# dev aliases
alias clang-format-all='clang-format -i *.{C,c,cc,cxx,cpp,c++,H,h,hh,hxx,hpp,h++}' # format all c/c++ files in the current dir in place
alias todo='rg TODO' # greps for TODO in source code - requires ripgrep: https://github.com/BurntSushi/ripgrep

# vpn
alias backup='systemctl --user start backup.target'
if command -v openvpn &> /dev/null; then
    alias vpn_iptables_up='sudo iptables-restore < /etc/iptables/vpn.rules'
    alias vpn_iptables_down='sudo iptables-restore < /etc/iptables/empty.rules'
    alias vpn_strong='sudo openvpn --config ~/openvpn-strong/US\ Seattle.ovpn --ca ~/openvpn-strong/ca.rsa.4096.crt --crl-verify ~/openvpn-strong/crl.rsa.4096.pem --auth-user-pass /etc/openvpn/client/login.conf'
    alias vpn='vpn_iptables_up && vpn_strong'
fi

# vpn for work
if command -v openconnect &> /dev/null; then
    alias dns_work_up='networksetup -setdnsservers ethernet 10.214.65.11 10.214.65.12 10.25.150.14 10.25.150.15 1.1.1.1 10.10.1.1'
    alias dns_work_down='networksetup -setdnsservers ethernet empty'
    alias vpn_work='sudo openconnect --user=paulo.fagundes americas.vpn.websense.com'
fi
