# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
export HISTCONTROL=ignoredups:erasedups
# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
export HISTSIZE=100000
export HISTFILESIZE=100000

# use 256 color terminal (for emacs' themes)
export TERM=xterm-256color

# use emacs
export ALTERNATE_EDITOR='' # for emacs --daemon
export EDITOR='emacsclient -nw'
export VISUAL='emacsclient -nw'
export GIT_EDITOR='emacsclient -nw'

# setup PS1 with git
export GIT_PS1_SHOWUPSTREAM=1
export GIT_PS1_SHOWCOLORHINTS=1
export GIT_PS1_SHOWDIRTYSTATE=1
# export GIT_PS1_SHOWUNTRACKEDFILES=0

# ruby
# Add rbenv to PATH for scripting
# export PATH="$HOME/.rbenv/bin:$PATH"
# eval "$(rbenv init -)"
# export GEM_HOME=$(ruby -e 'print Gem.user_dir')

# export GOPATH="$HOME/go"
