# switch between the 9.4.1 and latest versions of xcode
# this function assumes you have v9.4.1 installed in /Applications/Xcode-9.4.1.app
if [ -x /usr/bin/xcode-select ]; then
    function switch_xcode {
        if [ $(xcode-select -p) == "/Applications/Xcode.app/Contents/Developer" ]; then
            sudo xcode-select --switch /Applications/Xcode-9.4.1.app
        else
            sudo xcode-select --switch /Applications/Xcode.app
        fi
        xcode-select -p
    }
fi
